@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header a{
    color: #858585;
    cursor: pointer;
    font-size: 16px;
}
#header a:hover{
    color: #5D5FEF;
}
#item h1{
    font-size: 25px;
    color: gray;
    font-weight: 600;
}